<div class="component" *ngIf="superAdmin">
    <form *ngIf="!superAdminUpdated">
        <div class="name">
            <div class="labelinput">
                <label for="fname"> Prénom </label>
                <input id="fname" name="fname" [(ngModel)]="superAdmin.fname"/>
            </div> 
            <div class="labelinput">
                <label for="lname"> Nom </label>
                <input id="lname" name="lname" [(ngModel)]="superAdmin.lname"/>
            </div>
        </div>
        <div class="labelinput">
            <label for="mail"> Email </label>
            <input id="mail" name="mail" [(ngModel)]="superAdmin.mail"/>
        </div>
        <div class="labelinput">
            <label for="password"> Mot de passe </label>
            <input type="password" id="password" name="password" [(ngModel)]="superAdmin.password"/>            </div>
        <div class="labelinput">
            <label for="phone"> Téléphone </label>
            <input id="phone" name="phone" [(ngModel)]="superAdmin.phone"/>
        </div>
        <div class="buttons">
            <button routerLink="../../configuration"> Annuler </button>
            <button (click)="updateSuperAdmin()"> Valider </button>
        </div>
    </form>
     
    <div id="updated" *ngIf="superAdminUpdated">
        Les informations du super administrateur {{superAdmin.fname}} {{superAdmin.lname}} ont bien été mises à jour
    </div>
</div>
    

