<body>
<h3> Liste des centres de vaccination</h3>

<div class="searchcenter">
<input [(ngModel)]="city" placeholder="Ville du centre"/>
<button (click)="getAllVaccinationCenter()"> <fa-icon [icon]="searchIcon"> </fa-icon></button>
</div>

<ul>
    <div class="centre">
    <li *ngFor="let aCenter of centers" 
        [ngClass]="selected==aCenter ? 'selected' : ''">
        
        <div class="details">
        <span> {{aCenter.name}}</span> <br/>
        <span> {{aCenter.address}}, {{aCenter.postal}} {{aCenter.city}} 
        </span> <br/>
        <span> {{aCenter.phone}} </span>
        </div>

        <div class="choice">
        <button routerLink="/centers/register/{{aCenter.id}}"
        (click)=" selectCenter(aCenter)">
        Choisir
        </button>
        </div>
    </li>
    </div>
</ul>

<!--
<app-vaccination-center [center]="selected" (deleted)="onDeleted($event)"></app-vaccination-center>
-->
</body>