<div class="component" *ngIf="center">
    <div class="details">
        <span> {{center.name}}</span><br/>
        <span> {{center.address}} {{center.postal}}, {{center.city}} </span>
    </div>

    <div *ngIf="showModalA" class="overlay">
        <div class="confirm">
            <p>Êtes-vous sûr de vouloir supprimer cet Administrateur ?</p>
            <div class="confbuttons">
                <button (click)="confirmAdminDelete()">Confirmer</button>
                <button (click)="cancelAdminDelete()">Annuler</button>
            </div>
        </div>
    </div>
    <div *ngIf="showModalD" class="overlay">
        <div class="confirm">
            <p>Êtes-vous sûr de vouloir supprimer ce Docteur ?</p>
            <div class="confbuttons">
                <button (click)="confirmDoctorDelete()">Confirmer</button>
                <button (click)="cancelDoctorDelete()">Annuler</button>
            </div>
        </div>
    </div>

    <table>
        <tr> 
            <td colspan="3"> Administrateurs <button routerLink="../../createadmin/{{center.id}}"><fa-icon [icon]="plusIcon"></fa-icon></button></td> 
        </tr>
        <tr *ngFor="let aAdmin of admins"> 
            <td>{{aAdmin.id}}</td> 
            <td>{{aAdmin.fname}} {{aAdmin.lname}} </td>
            <td id="lastcol"> <div class="buttons"><button routerLink="../../updateadmin/{{aAdmin.id}}/{{center.id}}"><fa-icon [icon]="modifyIcon"></fa-icon></button> <button (click)="deleteAdmin(aAdmin)"><fa-icon [icon]="xIcon"></fa-icon></button> </div></td>
        </tr>
    </table>
    <table>
        <tr> 
            <td colspan="3"> Docteurs <button routerLink="../../createdoctor/{{center.id}}"><fa-icon [icon]="plusIcon"></fa-icon></button></td> 
        </tr>
        <tr *ngFor="let aDoctor of doctors"> 
            <td>{{aDoctor.id}}</td> 
            <td>{{aDoctor.fname}} {{aDoctor.lname}} </td>
            <td id="lastcol"> <div class="buttons"><button routerLink="../../updatedoctor/{{aDoctor.id}}/{{center.id}}" ><fa-icon [icon]="modifyIcon"></fa-icon></button> <button (click)="deleteDoctor(aDoctor)"><fa-icon [icon]="xIcon"></fa-icon></button> </div></td>
        </tr>
    </table>
</div>
